version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: cabide-api
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./outputs:/app/outputs
      - ./temp:/app/temp
    restart: always
    networks:
      - cabide-net

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: cabide-ui
    ports:
      - "8501:8501"
    environment:
      - BACKEND_URL=http://backend:8000
    depends_on:
      - backend
    restart: always
    networks:
      - cabide-net

networks:
  cabide-net:
    driver: bridge
